.contenedor__parrafos{
    min-height: 94vh;
}
.ventana__2{
    min-height: 100vh;
}
.contenedor_iniciar{
    height: calc(100vh - 130px);
}
.contenedor__registrar{
    min-height: 100vh;    
}
.rectangulo{
    width: 25vw;
    height: 5px;
    background: blue;
}
.titulo__iniciar_item-1{
    font:25px Arial, sans-serif;
}
.contenido__detalle{
    height:84vh;
}
.contenido__crear{
    height:84vh;
}
.contenido_seccion1{
    height:84vh;
}
.contenido_seccion2{
    height:84vh;
}
.contenido_seccion3{
    min-height:100vh;
}
.contenido_seccion4{
    min-height:100vh;    
}
.contenido_seccion5{
    min-height:100vh;
}
.contenido_seccion6{
    min-height:100vh;
}

.contenido_seccion9{
    min-height:100vh;
}
.contenido_seccion10{
    min-height:100vh;
}
.contenido_seccion11{
    height:84vh;
}
.contenido_seccion13{
    height:84vh;
}
html{
    scroll-behavior: smooth;
}
.contenido_seccion12{
    height:84vh;
}
.dropdown-usuario{
    margin-left: .5rem;
    margin-right: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.cog-user{
    transition: 1s;
    margin-left: 0.2rem;
}
.cog-user:hover  {
    transform:rotate(180deg);
}
.dropdown-usuario:hover .cog-user{
    transform:rotate(180deg);
}
.cog-user:target{
    transform: rotate(-180deg);
}
.menu-usuario{
    min-width: 7rem;
}
.menu-usuario-item{
    padding-left: 0.5rem;
}
.modificar-cuenta{
    height:84vh;
}
.inputIconEmail{
    position: relative;
}
.input-form{
    border: none;
    padding-left: 45px;
    border-bottom: 1px solid #ced4da ;
    border-radius: 0%;
    font-size: 20px;
}
.input-form::placeholder{
    font-weight:400;
}
.img-svg{
    position: absolute;
    margin: 5px 5px 9px 10px;
    left: 0;
    top: 4px;
    width: 23px;
    height: 23px;
}
input:focus{
    border: none !important;
    box-shadow: 0px 1px #17a2b8 !important;
}
